<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>user</servlet-name>
        <servlet-class>servlets.user</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>check</servlet-name>
        <servlet-class>servlets.check</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>employee</servlet-name>
        <servlet-class>servlets.employee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>shop</servlet-name>
        <servlet-class>servlets.shop</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>item</servlet-name>
        <servlet-class>servlets.item</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>servlets.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>order_page</servlet-name>
        <servlet-class>servlets.order_page</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>servlets.OrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>user</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>check</servlet-name>
        <url-pattern>/check</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>employee</servlet-name>
        <url-pattern>/employee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>shop</servlet-name>
        <url-pattern>/shop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>item</servlet-name>
        <url-pattern>/item</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>UploadServlet</servlet-class>
        <multipart-config>
            <location>/tmp</location>
            <max-file-size>1048576</max-file-size>
            <!-- 1MB limit -->
            <max-request-size>5242880</max-request-size>
            <!-- 5MB limit -->
            <file-size-threshold>1024</file-size-threshold>
            <!-- 1KB threshold -->
        </multipart-config>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/uploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>order_page</servlet-name>
        <url-pattern>/order_page</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/OrderServlet</url-pattern>
    </servlet-mapping>
</web-app>
